@using InterviewManager.Models
@model AppointmentManager
@{
    ViewBag.Title = "Index";
    //Layout = null;
}

<h2>Interview Manager</h2>


<div class="form-group">
    <label for="interviewerSelect">Select an Interviewer:</label>
    <select class="form-control" id="interviewerSelect">
        <option value="none">--</option>
        <option value="mario@rossrmsdemo.onmicrosoft.com">Mario</option>
        <option value="interviewer1@rossrmsdemo.onmicrosoft.com">interviewer1</option>
        <option value="interviewer2@rossrmsdemo.onmicrosoft.com">interviewer2</option>
    </select>
</div>

<div id="calendarContainer">

@Html.Partial("_CalendarPartial", Model)

</div>

<script>

    $(document).ready(function () {

        $("#interviewerSelect").change(function()
        {
            var value = $(this).val();
            var url = "/InterviewManager/Load?user=" + value;
            $.get( url, function( data ) {
                $( "#calendarContainer" ).html( data );
            });
        });
    });

    </script>




@*<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/calendar")



        <script src="~/Scripts/jquery-1.11.3.js"></script>
        <script src="~/Scripts/moment.js"></script>
        <script src="~/Scripts/fullcalendar.js"></script>
</head>
<body>
    <h2>Interview Manager</h2>

    <select>

    </select>

    <div id='calendar'></div>
</body>
</html>
<script>
    $(document).ready(function () {
        var viewRenderFunction = function(view, element)
        {
            alert('Trigger');
            alert(view.start);
        };

        $('#calendar').fullCalendar({
            // put your options and callbacks here
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaDay'
            },
            slotMinutes: 30,
            defaultView: 'month',
            allDaySlot: false,
            selectable: true,
            events: @Html.Raw(Json.Encode(Model.Events)),
            viewRender : viewRenderFunction


        })

    });

</script>*@

